<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Entry page</title>

    </head>
    <body bgcolor="orange">
        <form action="/login" method="post">
            <h2></h2>Username:<br>
            <input type="text" name="un"><br>
            Password:<br>
            <input type="password" name="pw"><br>
            Email id:<br>
            <input type="email"  name="email"><br>

            <input type="submit" value="SUBMIT">


        </form>
        <h1>{{info}}</h1>
    </body>
    
</html>